.contact-form-wrapper {
  @include flex-center;
  color: $text-color;
  background-color: $main-backgr-color;
  height: 100vh;

  .horizontal-line {
    @include line;
    margin-bottom: 0.8rem;
  }

  .contact-heading {
    @include heading-style(1.6em, 0.6rem);
    margin-bottom: 0.8rem;
  }

  form {
    @include flex-center;

    font: {
      family: $paragraph-font;
      size: 0.9em;
    }

    .horizontal-line {
      width: 100%;
      background-color: $accents-color;
      height: 0.05rem;
      margin-bottom: 0.8rem;
    }

    input:not([type="button"]),
    textarea {
      font: {
        family: $paragraph-font;
        size: 0.55em;
      }
      color: white;
      line-height: 1rem;
      width: 75%;
      height: 1.5rem;
      background-color: $main-backgr-color;
      border: none;
      outline: none;
      text-align: center;
    }

    textarea {
      min-height: 4.5rem;
      max-height: 7rem;
      max-width: 21rem;
      min-width: 21rem;
      overflow-x: hidden;
    }

    input[type="button"] {
      @include button-style(5rem, 2.3rem);
      margin-top: 0.7rem;
    }
  }
}
