footer {
  @include flex-center;
  background: linear-gradient(0deg, #1b1b1bc0, #1b1b1bc0),
    url("./img/footer-image.jpg");
  @include background-center;
  color: $text-color;
  height: 90vh;
  .horizontal-line {
    @include line;
  }

  button {
    @include button-style(7rem, 2.3rem);
    background-color: transparent;

    margin-right: 1em;
  }

  .buttons-wrapper {
    margin-bottom: 1em;
  }

  .footer-heading {
    @include heading-style(1.6em, 0.3em);
    margin-bottom: 1rem;
    margin-top: 1.3rem;
  }

  .contact-info {
    @include text-paragraphs(0.5em, 0.3em, 1.7em);
    width: 15em;
    margin-bottom: 2rem;
  }

  .copyrights {
    color: $text-color;
    @include text-paragraphs(0.5em);
  }
  a {
    color: $accents-color;
    text-decoration: none;
  }
}
