.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  color: $text-color;

  .photo-category {
    @include flex-center;
    height: 20em;
    text-align: center;
   
    .horizontal-line {
      background-color: $accents-color;
      height: 0.09em;
      border-radius: 1em;
      display: block;
      width: 4.7em;
    }

    .category-name {
      font: {
        family: $heading-font;
        size: 1.3em;
      }
      letter-spacing: 0.15em;
      text-indent: 0.1em;
      margin: {
        top: 1.1em;
        bottom: 1.1em;
      }
    }

    &:hover {
      :first-child {
        transform: translateX(3rem);

      }
      :last-child {
        transform: translateX(-3rem);
      }
      :first-child, :last-child, .category-name {
        animation: fade 1s ease forwards;
        transition: {
          property: transform;
          duration: 1s;
          timing-function: ease;
          
        }
      }
    }

  @keyframes fade {
    0% {
      opacity: 1;
    }
  
    50% {
      opacity: 0.5;
    }

    100%{
      opacity: 0;
    }
  }
}

  @media screen and (max-width: 750px) {
    grid-template-columns: 1fr;
  }
}
