.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  color: $text-color;

  .photo-category {
    @include flex-center;
    height: 20em;
    text-align: center;

    .horizontal-line {
      position: relative;
      background-color: $accents-color;
      height: 0.09em;
      border-radius: 1em;
      display: block;
      width: 4.7em;
      transition: {
        property: left, right;
        duration: 0.5s;
        timing-function: ease;
      }
    }

    .category-name {
      font: {
        family: $heading-font;
        size: 1.3em;
      }
      letter-spacing: 0.15em;
      text-indent: 0.1em;
      margin: {
        top: 1.1em;
        bottom: 1.1em;
      }
    }
  }

  @media screen and (max-width: 750px) {
    grid-template-columns: 1fr;
  }
}
