.hero {
<<<<<<< HEAD
  @include flex-center;

  background: linear-gradient(#1b1b1ba4, #1b1b1ba4), url(./img/hero-image.jpg);
  @include background-center;

  color: $text-color;

  .company-profile-wrapper {
    @include flex-center;
    position: relative;
    width: 25rem;
  }

  .company-profile-wrapper:before,
  .company-profile-wrapper:after {
    content: "";
    display: block;
    height: 0.1rem;
    width: 100%;
    background-color: $accents-color;
    border-radius: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .company-name {
    text-align: center;
    width: inherit;
    font: {
      family: $heading-font;
      weight: 400;
      size: 2.3em;
    }
    letter-spacing: 0.8rem;
    text-indent: 0.8rem;
  }

  .sub-heading {
    text-align: center;
    margin-top: 0.3rem;
    margin-bottom: 0.4rem;
    font: {
      family: $paragraph-font;
      size: 0.6em;
      weight: 300;
    }
    letter-spacing: 0.1rem;
    text-indent: 0.1rem;
  }

  .hero-contacts {
    font: {
      family: $paragraph-font;
      size: 0.5em;
      weight: 300;
=======
    @include flex-center;  
    background: linear-gradient(#1b1b1ba4, #1b1b1ba4), url(./img/hero-image.jpg);
    @include background-center;
    height: 29em;
    color: $text-color;
    width: 100vw;
  
    .company-profile-wrapper {
      position: relative;
     
>>>>>>> d2277948e2691f2152a72986ebe9f40a570656b6
    }
    flex-wrap: wrap;
    margin-left: 10vw;
    margin-right: 10vw;
    text-align: center;
  }
}

@media only screen and (max-width: $breakpoint-tablet-landscape) {
  .hero {
    .company-profile-wrapper {
      &::before,
      &::after {
        margin-top: 2rem;
        margin-bottom: 2rem;
      }
    }

    .company-name {
      font-size: 2.8em;
    }
    .sub-heading {
      font-size: 1em;
    }

    .hero-contacts {
      font-size: 0.7em;
<<<<<<< HEAD
      width: 20rem;
=======
      font-weight: 300;
      flex-wrap: wrap;
      margin-left: 10vw;
      margin-right: 10vw;
      position: relative;
      
      text-align: center;
>>>>>>> d2277948e2691f2152a72986ebe9f40a570656b6
    }
  }
}

@media only screen and (max-width: $breakpoint-mobile) {
  .hero {
    .company-profile-wrapper {
      width: 20rem;

      &::before,
      &::after {
        margin-top: 2rem;
        margin-bottom: 2rem;
      }
    }

    .company-name {
      font-size: 2.7em;
    }

    .sub-heading {
      font-size: 0.85em;
    }

    .hero-contacts {
      font-size: 0.75em;
      width: 18rem;
      margin-top: 1rem;
    }
  }
}

@media only screen and (max-width: 400px) {
  .hero {
    .company-profile-wrapper {
      &::before,
      &::after {
        width: 17rem;
      }
    }
  }
}
