
.hero {
    @include flex-center;  
    background: linear-gradient(#1b1b1ba4, #1b1b1ba4), url(./img/hero-image.jpg);
    @include background-center;
    height: 29em;
    color: $text-color;
  
    .company-profile-wrapper {
      position: relative;
      bottom: 5vw;
    }
  
    .company-profile-wrapper:before,
    .company-profile-wrapper:after {
      content: "";
      display: block;
      height: 3px;
      width: 50vw;
      background-color: $accents-color;
      border-radius: 20px;
      margin-top: 2.5em;
      margin-bottom: 2.5em;
    }
  
    .company-name {
      text-align: center;
      width: inherit;
      font-family: $heading-font;
      font-weight: 400;
      font-size: 3em;
      letter-spacing: 0.3em;
      text-indent: 0.3em;
    }
  
    .sub-heading {
      text-align: center;
      font-family: $paragraph-font;
      font-size: 0.9em;
      font-weight: 300;
      letter-spacing: 4px;
      text-indent: 4px;
    }
  
    .hero-contacts {
      font-family: $paragraph-font;
      font-size: 0.7em;
      font-weight: 300;
      flex-wrap: wrap;
      margin-left: 10vw;
      margin-right: 10vw;
      position: relative;
      bottom: 2.5em;
      text-align: center;
    }
  
    @media only screen and (max-width: 1000px) {
      // .company-name {
      //   font-size: 8vw;
      // }
      .company-profile-wrapper:before, 
      .company-profile-wrapper:after{
        width:auto;
      }
    }
  
    @media only screen and (max-width: 600px) {
  
      // .company-name {
      //   font-size: 9vw;
      //   letter-spacing: 15px;
      // }
    
    }
  }