nav {
  height: 2.5rem;
  width: 100vw;
  background-color: $main-backgr-color;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: absolute;

  .logo {
    color: $accents-color;
    letter-spacing: 0.2rem;
    text-indent: 0.2rem;
    cursor: default;

    position: relative;
    left: 8%;

    font: {
      family: $heading-font;
      size: 1.1em;
    }
  }

  .menu {
    font-family: $heading-font;
    font-size: 0.52em;
    font-weight: 600;
    position: relative;
    right: 8%;

    a {
      text-decoration: none;
      color: $text-color;
      padding: 0.87rem;
      &:hover {
        background-color: #292828;
      }
    }
  }

  .burger {
    overflow: none;
    @include flex-center;
    display: none;
    position: relative;
    right: 8%;
    cursor: pointer;

    .bar {
      background-color: $accents-color;
      width: 1.4rem;
      height: 0.15rem;
      margin: 0.15rem;
      border-radius: 3rem;
      transition: {
        property: transform, opacity;
        duration: 1s;
        timing-function: ease;
      }
    }

    @keyframes underscored-x {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(90deg);
      }
    }
  }

  @media only screen and (max-width: $breakpoint-tablet-landscape) {
    & {
      .logo {
        font-size: 1.3em;
      }
      .menu {
        font-size: 0.6em;

        a {
          padding-left: 0.5rem;
          padding-right: 0.5rem;
        }
      }
    }
  }

  @media only screen and (max-width: $breakpoint-tablet) {
    & {
      height: 3rem;
      .menu {
        display: none;
      }

      .burger {
        display: inline;
      }
    }
  }

  @media only screen and (max-width: $breakpoint-mobile) {
    & {
      .logo {
        font-size: 1.5em;
      }
    }
  }
}

.lineAnimation .bar1 {
  transform: translate(0rem, 0.3rem) rotate(-45deg);
}

.lineAnimation .bar2 {
  opacity: 0;
}

.lineAnimation .bar3 {
  transform: translate(0rem, -0.3rem) rotate(45deg);
}
