.welcome {
  @include flex-center;
  width: 100vw;
  background-color: $main-backgr-color;
  color: $text-color;

  .horizontal-line {
    @include line;
    margin-bottom: 1.6rem;
  }

  .welcome-heading {
    @include heading-style(1.6em, 0.6rem);
    margin-bottom: 2rem;
  }

  .welcome-paragraph {
    @include text-paragraphs(0.5em, 0.2em, 1.5em);
    width: 55%;
    margin-bottom: 1.5rem;
  }

  button {
    @include button-style(7.2rem, 2.3rem);
  }

  @media only screen and (max-width: $breakpoint-tablet-landscape) {
    & {
      .welcome-heading {
        font-size: 1.7em;
      }

      .welcome-paragraph {
        font-size: 0.6em;
        line-height: 1.2rem;
        width: 60%;
      }
    }
  }

  @media only screen and (max-width: $breakpoint-tablet) {
    & {
      .welcome-heading {
        font-size: 2em;
      }

      .welcome-paragraph {
        font-size: 0.69em;
      }
    }
  }

  @media only screen and (max-width: $breakpoint-mobile) {
    & {
      .welcome-paragraph {
        font-size: 0.7em;
      }
    }
  }
}
