.welcome {
  @include flex-center;

  height: 30em;
  width: 100vw;
  background-color: $main-backgr-color;
  color: $text-color;

  & > * {
    position: relative;
    margin-top: 50px;
  }

  .horizontal-line {
    background-color: $accents-color;
    height:0.123em;
    border-radius: 1em;
    display: block;
    width: 10%;
  }

  .welcome-heading {
    font-family: $heading-font;
    font-size: 40px;
    letter-spacing: 15px;
  }

  .welcome-paragraph {
    font-family: $paragraph-font;
    font-size: 0.7em;
    text-align: center;
    width: 55%;
    line-height: 1.5em;
  }

  button {
    background-color: $main-backgr-color;
    outline: none;
    border: 3px solid white;
    color: $text-color;
    width: 200px;
    height: 60px;
    font-family: $heading-font;
    font-size: 0.8em;
    letter-spacing: 0.09em;
    font-weight: 400;
  }
}
