.welcome {
  @include flex-center;
  width: 100vw;
  background-color: $main-backgr-color;
  color: $text-color;

  // & > * {
  //   position: relative;
  //   margin-top: 1em;
  // }

  .horizontal-line {
    @include line;
    margin-bottom: 1.6rem;
  }

  .welcome-heading {
    @include heading-style(1.6em, 0.6rem);
    margin-bottom: 2rem;
  }

  .welcome-paragraph {
    @include text-paragraphs(0.5em, 0.2em, 1.5em);
    width: 55%;
    margin-bottom: 1.5rem;
  }

  button {
    @include button-style(7.2rem, 2.3rem);
  }
}
