@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600&display=swap");
@import "partials/varsmixins";
@import "partials/nav";
@import "partials/hero";
@import "partials/welcome";
@import "partials/gallery";
@import "partials/contact-form";
@import "partials/footer";

* {
  margin: 0;
}

html {
  box-sizing: border-box;
  @include fluid-font(16px, 40px);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

<<<<<<< HEAD
body {
  @include fluid-font(16px, 50px); //give min max size range
  //@include fluid-font(1.875em, 5.625em); //also can use em values
=======
body, html {
    @include fluid-font(16px, 40px); //give min max size range 
    //@include fluid-font(1.875em, 5.625em); //also can use em values
    
}

body {
>>>>>>> d2277948e2691f2152a72986ebe9f40a570656b6
  overflow-x: hidden;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

nav,
main,
main > *,
footer {
  grid-column: 1/13;
  width: 100vw;
}
