@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600&display=swap");
/* SASS mixin end */
nav {
  height: 3em;
  background-color: #1b1b1b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .logo {
  display: inline;
  color: #e5b13b;
  font-family: Cormorant SC;
  font-size: 1.5em;
  letter-spacing: 0.2em;
  text-indent: 0.2em;
  position: relative;
  left: 8%;
}

nav .menu {
  display: inline;
  font-family: Cormorant SC;
  font-size: 0.7em;
  font-weight: 600;
  position: relative;
  right: 8%;
}

nav .menu a {
  margin-right: 2em;
  text-decoration: none;
  color: #fff;
}

nav .menu :last-child {
  margin-right: 0;
}

nav .burger {
  overflow: none;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  width: auto;
  position: relative;
  right: 8%;
  cursor: pointer;
}

nav .burger .bar {
  background-color: #e5b13b;
  width: 1.3em;
  height: 3px;
  margin: 2px;
  border-radius: 20px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

@-webkit-keyframes underscored-x {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@keyframes underscored-x {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@media only screen and (max-width: 1000px) {
  nav .menu {
    display: none;
  }
  nav .burger {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.lineAnimation .bar1 {
  -webkit-transform: translate(0px, 7px) rotate(-45deg);
          transform: translate(0px, 7px) rotate(-45deg);
}

.lineAnimation .bar2 {
  opacity: 0;
}

.lineAnimation .bar3 {
  -webkit-transform: translate(0px, -7px) rotate(45deg);
          transform: translate(0px, -7px) rotate(45deg);
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#1b1b1ba4), to(#1b1b1ba4)), url(./img/hero-image.jpg);
  background: linear-gradient(#1b1b1ba4, #1b1b1ba4), url(./img/hero-image.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 29em;
  color: #fff;
}

.hero .company-profile-wrapper {
  position: relative;
  bottom: 5vw;
}

.hero .company-profile-wrapper:before,
.hero .company-profile-wrapper:after {
  content: "";
  display: block;
  height: 3px;
  width: 50vw;
  background-color: #e5b13b;
  border-radius: 20px;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

.hero .company-name {
  text-align: center;
  width: inherit;
  font-family: Cormorant SC;
  font-weight: 400;
  font-size: 3em;
  letter-spacing: 0.3em;
  text-indent: 0.3em;
}

.hero .sub-heading {
  text-align: center;
  font-family: Quicksand;
  font-size: 0.9em;
  font-weight: 300;
  letter-spacing: 4px;
  text-indent: 4px;
}

.hero .hero-contacts {
  font-family: Quicksand;
  font-size: 0.7em;
  font-weight: 300;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 10vw;
  margin-right: 10vw;
  position: relative;
  bottom: 2.5em;
  text-align: center;
}

@media only screen and (max-width: 1000px) {
  .hero .company-profile-wrapper:before,
  .hero .company-profile-wrapper:after {
    width: auto;
  }
}

.welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30em;
  width: 100vw;
  background-color: #1b1b1b;
  color: #fff;
}

.welcome > * {
  position: relative;
  margin-top: 50px;
}

.welcome .horizontal-line {
  background-color: #e5b13b;
  height: 0.123em;
  border-radius: 1em;
  display: block;
  width: 10%;
}

.welcome .welcome-heading {
  font-family: Cormorant SC;
  font-size: 40px;
  letter-spacing: 15px;
}

.welcome .welcome-paragraph {
  font-family: Quicksand;
  font-size: 0.7em;
  text-align: center;
  width: 55%;
  line-height: 1.5em;
}

.welcome button {
  background-color: #1b1b1b;
  outline: none;
  border: 3px solid white;
  color: #fff;
  width: 200px;
  height: 60px;
  font-family: Cormorant SC;
  font-size: 0.8em;
  letter-spacing: 0.09em;
  font-weight: 400;
}

.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30em, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30em, 1fr));
  height: 650px;
}

* {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-size: 40px;
  font-size: calc(16px + (40 - 16) * ((100vw - 300px) / (3840 - 300)));
}

@media screen and (max-width: 300px) {
  body {
    font-size: 16px;
  }
}

@media screen and (min-width: 3840px) {
  body {
    font-size: 40px;
  }
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

nav,
main,
footer {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
}
/*# sourceMappingURL=Style.css.map */